<div class="ui secondary blue pointing menu">
    <div class="ui dropdown item">
        Files
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="{% url "captures:capture-list" %}"><i class="list icon"></i> List</a>
          <a class="item" href="{% url "captures:capture-add" %}"><i class="upload icon"></i> Add</a>
        </div>
    </div>
    <div class="ui dropdown item">
        Analyze
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="{% url "captures:capture-list" %}"><i class="list icon"></i> List</a>
          <a class="item" href="{% url "captures:capture-add" %}"><i class="upload icon"></i> Add</a>
        </div>
    </div>
</div>