{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block menu2 %}
    {% include "captures_menu2.html" %}
{% endblock menu2 %}

{% block content %}
<div class="ui grid">
    <div class="ui four column row">
        <div class="column">
            <h2 class="ui header">
                <i class="upload icon"></i>
                <div class="content">
                Add Files
                <div class="sub header">Add a new capture file</div>
                </div>
            </h2>
        </div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>

<div class="ui divider"></div>

<div class="ui grid">
        <div class="three wide column"></div>
        <div class="ten wide column">
            <form class="form-horizontal form-inline" method="post" enctype="multipart/form-data">

                <div class="ui form">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-actions">
                            <button type="submit" class="ui blue button">Submit</button>
                        </div>
                    </form>
                </div>
        </div>
        <div class="three wide column"></div>
</div>
{% endblock content %}
