{% extends "base.html" %}

{% block menu2 %}
    {% include "captures_menu2.html" %}
{% endblock menu2 %}

{% block content %}
<div class="ui grid">
    <div class="ui four column row">
        <div class="column">
            <h2 class="ui header">
                <i class="list icon"></i>
                <div class="content">
                Analyze "{{ capture }}"
                <div class="sub header">Analyze Capture File</div>
                </div>
            </h2>
        </div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>

<div class="ui divider"></div>
    Filename: {{ capture.name }} <br>
    Description: {{ capture.description }} <br>
    Size: {{ capture.file_size|filesizeformat }} <br>
    <br>
    Number of packets: {{ number_of_packets }} <br>
    Packets:
    {% for packet in packets %}
        {{ packet }}
    {% endfor %}

{% endblock content %}