{% extends "base.html" %}

{% block menu2 %}
    {% include "captures_menu2.html" %}
{% endblock menu2 %}

{% block content %}
<div class="ui grid">
    <div class="ui four column row">
        <div class="column">
            <h2 class="ui header">
                <i class="list icon"></i>
                <div class="content">
                List Files
                <div class="sub header">Available capture files</div>
                </div>
            </h2>
        </div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>

<div class="ui divider"></div>

{% if captures %}
<div class="ui grid" >
    <div class="ui row">
        <div class="twelve wide column">
            <table class="ui compact blue selectable celled striped table">
                <thead class="full-width">
                    <tr>
                        <th>
                            <div class="ui fitted checkbox">
                              <input type="checkbox">
                                <label></label>
                            </div>
                        </th>
                        <th>Name</th>
                        <th>Filename</th>
                        <th>Description</th>
                        <th>Size</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for capture in captures %}
                        <tr>
                            <td class="collapsing">
                                <div class="ui fitted checkbox">
                                  <input id="object_id_{{ capture.id }}" type="checkbox"><label></label>
                                </div>
                            </td>
                            <td>{{ capture.name }}</td>
                            <td>{{ capture.filename }}</td>
                            <td>{{ capture.description }}</td>
                            <td>{{ capture.file_size|filesizeformat }}</td>
                            <td class="collapsing">
                                <div class="ui icon buttons">
                                    <a href="{% url "captures:capture-detail" capture.id %}" class="ui button"><i class="search icon"></i></a>
                                    <a href="{% url "captures:capture-edit" capture.id %}" class="ui button"><i class="edit icon"></i></a>
                                    <a href="{% url "captures:capture-delete" capture.id %}" class="ui button"><i class="trash icon"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="full-width">
                <tr>
                    <th></th>
                    <th colspan="5">
                        <div class="ui small button">
                            <i class="trash icon"></i> Remove
                        </div>
                        <div class="ui small button">
                            <i class="tags icon"></i> Label
                        </div>
                        <div class="ui small button">
                            <i class="compress icon"></i> Combine
                        </div>
                        <a href="{% url "captures:capture-add" %}" class="ui right floated small primary labelled icon button"><i class="upload icon"></i> Add File</a>
                      </th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="four wide column">
            <div class="ui top blue attached segment">
                <h3 class="ui dividing header">
                    Summary
                </h3>
                <table class="ui table">
                    <tbody>
                        <tr>
                            <td>Total files:</td><td>{{ number_of_files }}</td>
                        </tr>
                        <tr>
                            <td>Total size:</td><td>{{ total_size.file_size__sum|filesizeformat }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
    There are no capture files available. <br> Use the "add file" button to upload a capture file. <br><br>
    <a href="{% url "captures:capture-add" %}" class="ui floated small primary labelled icon button"><i class="upload icon"></i> Add File</a>
{% endif %}





{% endblock content %}