{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">
    <title>{% block title %}Django-Scapy{% endblock %}</title>

    <!--- Stylesheets --->
    <link rel="stylesheet" type="text/css" href="{% static "css/semantic/semantic.min.css" %}">
    <!--- Custom stylesheet <link rel="stylesheet" type="text/css" href="{# static "css/base.css" #}"> --->

    <!--- JavaScript --->
    <script src="{% static "jquery/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "css/semantic/semantic.min.js" %}"></script>

</head>
<body>

{% block menu1 %}
    {% include "menu1.html" %}
{% endblock menu1 %}

{% block menu2 %}
{% endblock menu2 %}

{% block statusbar %}
    {# include "statusbar.html" #}
{% endblock statusbar %}

<div class="ui segment">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="ui negative icon message">
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="ui warning icon message">
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="ui positive icon message">
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="ui violet icon message">
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}
            {% endif %}
                <i class="close icon"></i>
                <i class="inbox icon"></i>
                    <div class="content">
                    <div class="header">
                      {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}
</div>

{% block footer %}
{% endblock footer %}

<script type="application/javascript">
    {# Dropdown menu #}
    $('.ui.dropdown')
    .dropdown()
    ;

    {# Messages close function #}
    $('.message .close')
    .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade');
    })
    ;

</script>

</body>
</html>